*{
 color:             #000000;
 font-family:       sans-serif;
}
body{
 margin:            .5em;
}
.nav ul{
 margin:            0 auto;
 width:             1000px;
}
a{
 color:             #000000;
 text-decoration:   underline;
}
a:hover, a:focus{
 color:             #0000FF;
}
a:active{
 background-color:  #FFFFFF;
 color:             #FF0000;
}
.nav ul{
 list-style-type:   none;
 padding:           0;
}
.nav ul li{
 display:           inline;
 padding-left:      .25em;
 padding-right:     .25em;
}
.header{
 border-bottom:     .2em solid #000000;
 min-height:        1em;
 font-size:         1.1em;
 padding-bottom:    .3em;
}
.header a{
 font-weight:       bold;
}
.footer{
 border-top:        .2em solid #000000;
 text-align:        right;
 padding-top:       .3em;
}
.footer a{
 font-size:         .9em;
}
canvas, canvas:active, canvas:focus{
 cursor:            crosshair;
}
input, label{
 font-size:         .8em;
 background:        #FFFFFF;
 max-width:         4.5em;
 border:            0;
 vertical-align:    middle;
}
#status{
 font-size:         .9em;
 font-weight:       bold;
 padding-left:      .5em;
 border-left:       .1em dashed;
}
#zeichenbrett{
 z-index:           0;
}
#helperlayer{
 position:          absolute;
 z-index:           1;
}
@media screen and (max-width: 1024px){
 #maincontent, .nav ul{
  margin:           auto;
  width:            auto;
 }
}
